{{#each post as |post|}}
<div id="title">{{post.title}}</div>
<div id="content1"
class="one"><p>{{post.body}}</p></div>
<div id="name">Name:{{post.user.username}}</div>
<div id="time">Time: {{format_date post.date_create}}</div>
<div id="button"> Post a reply</div>
{{/each}}


            



