<div id="title">{{title}}</div>
<div id="content1" class="one"><p>{{body}}</p></div>
<div id="name">Name: {{user.username}}</div>
<div id="time">Time: {{format_date date_created}}</div>
<div id="button">Post a reply</div>

