<div>
    <form id="newPostForm">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required />
      <div class="col-sm-9 p-3">
      <label for='description'>Body:</label>
    <textarea id='description' name='description' required></textarea>
    </div>
    <button type=''>Submit</button>
    </form>
</div>

<div>
  <h3>Posts</h3>
  <div id='posts'>
    {{#each posts}}
    <div class='post'>
      <h4>{{this.title}}</h4>
      <p>{{this.body}}</p>
    </div>
    {{/each}}
  </div>
</div>

<script src='/js/newPost.js'></script>







