<div class="profile">
  <form>
    <label for="title">{{title}}</label>
    <input type="text" id="title" name="title" required>
    <label for="description">{{body}}</label>
    <textarea id="description" name="description" required></textarea>
  </form>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <button class="post">Post a reply</button>
  </p>
</div>
