{{!-- <div>
  <h2>New post</h2>
  <form id='newFormPost'>
    <label for='title'>Title:</label>
    <input type='text' id='title' name='title' required />
    <label for='body'>Body:</label>
    <textarea id='body' name='body' required></textarea>
    <button type=''>Submit</button>
  </form>
</div> --}}
<div>
    <form id="newPostForm">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required />
      <div class="col-sm-9 p-3">
      <label for='description'>Body:</label>
    <textarea id='description' name='description' required></textarea>
    </div>
    <button type=''>Submit</button>
    </form>
</div>
<div>
  <h2>Posts</h2>
  <div id='posts'>
    {{#each posts}}
    <div class='post'>
      <h3>{{this.title}}</h3>
      <p>{{this.body}}</p>
    </div>
    {{/each}}
  </div>
</div>
<script src='/js/newPost.js'></script>







