/* main page styling */
* {
  margin: 0;
  padding: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer; 
 
 
  
}

#nav {
  background-color:#d2e5f4 ;
  margin-bottom: 10px;

}

nav ul {
  list-style-type: none;
  margin-bottom: 10px;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: right;
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  font-size: 1.2rem;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #89d4fc;
  color: white;
}

#main {
  padding: 100px;
  height: 100%;
  width: 100%;
  min-height: 100px;
  background-image: url('https://wallpapercave.com/wp/wp3287720.jpg');
  background-size: cover;
  
  
}

p {
  text-align: center;
  
}
  

#content1 {
  height: 200px;
  width: 100%;
  min-height: 100px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 40px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;

}


#name,
#time
{
  width: 20%;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 3px;
  margin-left: 30px;
}

#name {
  margin-top: 5px;
}


#button {
  width: 20%;
  margin-left: 60px;
  margin-bottom: 10px;
  padding: 5px 15px; 
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
}

#button:hover {
  background-color: #89d4fc;
  color: white;
}



/* profile page styling */
h2 {
  text-align: center;
  text-shadow: #7e9af5;
}

textarea {
  text-align: center;
  border: 1px solid black;
  box-shadow: #7e9af5;
}

#time {
  border: 1px solid black;
  box-shadow: #7e9af5;
}



