/* main page styling */
* {
  margin: 0;
  padding: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer; 
}

h2 {
  color:white;
  margin-top: 20px;
  text-decoration: underline;
}

h3 {
  margin-top: 10px;
  text-decoration: underline;
}

nav ul {
  list-style-type: none;
  margin-bottom: 10px;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: right;
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  font-size: 1.2rem;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #8263b5;
  color: white;
}

label {
  color: white;
  font-size: 2rem;
}

#nav {
  background-color:#d5bad4 ;
  margin: 10px;
}

#main {
  padding: 100px;
  height: 100%;
  width: 100%;
  min-height: 100px;
  background-image: url('https://images.unsplash.com/photo-1508898578281-774ac4893c0c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80');
  background-size: cover;
}

#content1 {
  height: 200px;
  width: 100%;
  min-height: 100px;
  padding-top: 20px 40px 0 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}

#name {
  width: 40%;
  border: 1px solid black;
  border-radius: 5px;
  margin:10px 0 3px 0;
  padding: 3px;
  background-color: white;
}

#time {
  width: 30%;
  margin-right: 40px;
  padding: 2px;
  border: none;
  border-radius: 3px;
}


#button {
  width: 30%;
  margin: 0 0 10px 80px;
  padding: 5px 15px; 
  border: 1px solid black;
  border-radius: 3px;
  background-color: white;
  text-align: center;

}

#button:hover {
  background-color: #8263b5;
  color: white;
}

#title {
  height: 30px;
  margin: 0 0 30px 60px;
  padding: 10px;
  border-radius: 5px;
  
  
}

#description {
  height: 100%;
  width: 100%;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
 
  
}

#newPostForm,
#posts {
  background-image: url('https://images.unsplash.com/photo-1508898578281-774ac4893c0c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80');
  background-size: cover;
}

.post-name {
  color: white;
}
.profile,
.row 
{
  background-image: url('https://images.unsplash.com/photo-1508898578281-774ac4893c0c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80');
  background-size: cover;
}


.post {
  border: 1px solid black;
  margin: 40px;
  padding: 10px;
  background-color: white;
}









